.flex {
    display: flex;
}

div {
    margin-right: 0;
}

.right {
    margin-left: 63%;
}
.pc{
    padding-left: 50px;
}

.carticon {
  position: relative;
}

.cart-size {
  position: absolute;
  top: -7px;
  right: -7px;
  padding: 2px 5px;
}

.pointer{
  cursor: pointer;
}

.pointer:hover{
  background-color: rgb(182, 182, 182);
  border-radius: 5px;
}
