<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card" style="background-color: rgb(0, 0, 17, 0.3)">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                <h5 class="mb-3">
                  <a
                    routerLink=""
                    class="text-body"
                    style="text-decoration: none"
                    ><i class="fas fa-long-arrow-alt-left me-2"></i>Continue
                    shopping</a
                  >
                </h5>
                <hr />

                <div
                  class="d-flex justify-content-between align-items-center mb-4"
                >
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">
                      You have {{ cartItems.length }} items in your cart
                    </p>
                  </div>
                  <div>
                    <p class="mb-0" *ngIf="cartItems.length !== 0">
                      <span class="text-muted">Sort by:</span>
                      <a
                        class="text-body"
                        style="text-decoration: none; cursor: pointer"
                        >&nbsp;price <i class="fas fa-angle-down mt-1"></i
                      ></a>
                    </p>
                  </div>
                </div>

                <div *ngFor="let item of cartItems">
                  <div
                    class="card mb-3"
                    style="
                      background-color: rgb(0, 0, 17, 0.3);
                      box-shadow: 0 0 2px;
                    "
                  >
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              src="{{ item.imageurl }}"
                              class="img-fluid rounded-3"
                              alt="Shopping item"
                              style="width: 70px; height: 70px"
                            />
                          </div>
                          <div class="ms-3">
                            <h5>{{ item.product }}</h5>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div
                            class="buttondesign"
                            style="display: flex; margin-right: 10px"
                          >
                            <button (click)="decreaseQuantity(item.id)">
                              <span style="margin: 0 3px">-</span>
                            </button>
                            <h5 class="fw-normal mb-0">{{ item.quantity }}</h5>
                            <button (click)="increaseQuantity(item.id)">
                              <span>+</span>
                            </button>
                          </div>
                          <div style="width: 80px">
                            <h5 class="mb-0">&#8377;{{ item.price }}</h5>
                          </div>
                          <i
                            (click)="removeFromCart(item.id)"
                            class="fas fa-trash-alt"
                            style="cursor: pointer"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5" *ngIf="cartItems.length !== 0">
                <div class="card bg-success text-white rounded-3 alink">
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center mb-4"
                    >
                      <h5 class="mb-0">Card details</h5>
                      <i class="fa-solid fa-user" style="font-size: 30px"></i>
                    </div>

                    <p class="small mb-2">Card type</p>
                    <a type="submit" class="text-white"
                      ><i class="fab fa-cc-mastercard fa-2x me-2"></i
                    ></a>
                    <a type="submit" class="text-white"
                      ><i class="fab fa-cc-visa fa-2x me-2"></i
                    ></a>
                    <a type="submit" class="text-white"
                      ><i class="fab fa-cc-amex fa-2x me-2"></i
                    ></a>
                    <a type="submit" class="text-white"
                      ><i class="fab fa-cc-paypal fa-2x"></i
                    ></a>

                    <form class="mt-4">
                      <div
                        data-mdb-input-init
                        class="form-outline form-white mb-4"
                      >
                        <input
                          type="text"
                          id="cardholder"
                          class="form-control form-control-lg"
                          siez="17"
                          placeholder="Cardholder's Name"
                        />
                        <label class="form-label" for="typeName"
                          >Cardholder's Name</label
                        >
                      </div>

                      <div
                        data-mdb-input-init
                        class="form-outline form-white mb-4"
                      >
                        <input
                          type="text"
                          id="cardnumber"
                          class="form-control form-control-lg"
                          siez="17"
                          placeholder="1234 5678 9012 3457"
                          minlength="19"
                          maxlength="19"
                        />
                        <label class="form-label" for="typeText"
                          >Card Number</label
                        >
                      </div>

                      <div class="row mb-4">
                        <div class="col-md-6">
                          <div
                            data-mdb-input-init
                            class="form-outline form-white"
                          >
                            <input
                              type="text"
                              id="typeExp"
                              class="form-control form-control-lg"
                              placeholder="MM/YYYY"
                              size="7"
                              id="exp"
                              minlength="7"
                              maxlength="7"
                            />
                            <label class="form-label" for="typeExp"
                              >Expiration</label
                            >
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div
                            data-mdb-input-init
                            class="form-outline form-white"
                          >
                            <input
                              type="password"
                              id="typeText"
                              class="form-control form-control-lg"
                              placeholder="&#9679;&#9679;&#9679;"
                              size="1"
                              minlength="3"
                              maxlength="3"
                            />
                            <label class="form-label" for="typeText">CVV</label>
                          </div>
                        </div>
                      </div>
                    </form>

                    <hr class="my-4" />

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <p class="mb-2">&#8377;{{ calculateTotal() }}</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p class="mb-2">Free</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Incl. taxes)</p>
                      <p class="mb-2">&#8377;{{ calculateTotal() }}</p>
                    </div>

                    <button
                      type="button"
                      data-mdb-button-init
                      data-mdb-ripple-init
                      class="btn btn-block btn-lg"
                      style="background-color: rgb(0, 195, 255)"
                    >
                      <div class="d-flex justify-content-between">
                        <span (click)="checkedout()"
                          >Checkout
                          <i class="fas fa-long-arrow-alt-right ms-2"></i
                        ></span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
